    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 80px;
        line-height: 100px;
        text-align: center;
        background-color: #000000;
        color: #ffffffb2;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    section {
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 100px;
    }
    
    div {
        font-weight: 100;
        /*transform: scale(0.2)*/
        transition: transform 0.8;
    }